# Print Function

In [1]:
my_string=("Capital of India is %s"%"Delhi")
print(my_string)

Capital of India is Delhi

In [2]:
my_string2=("capital of %s is %s"%("India","Delhi"))
print(my_string2)

capital of India is Delhi

In [3]:
my_string3="Capital of {} is {}".format("India","Delhi")
print(my_string3)

Capital of India is Delhi

In [4]:
print("hello World!", end=" ")
print("Hello everyone !")

hello World! Hello everyone !

In [5]:
print("A","B","C",sep='\n')

A
B
C

# Taking user input

In [6]:
name=input()
print("Hello "+name)

Kajal
Hello Kajal

In [7]:
number=int(input())

1

In [8]:
print(type(number))

<class 'int'>

In [9]:
l = input().split()
print(l)

1 2 3
['1', '2', '3']

In [10]:

numbers = [int(no) for no in l]
print(numbers)

[1, 2, 3]

In [11]:
print(type(numbers))
print(type(numbers[0]))

<class 'list'>
<class 'int'>

In [12]:
number = [int(no) for no in input().split()]

1 2 3

In [13]:
print(number)

[1, 2, 3]

# Loops

In [14]:
n = 10
i = 1

while i<=n:
    print("Step %d"%i)
    i = i + 1

print("Loop finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop finished

In [15]:
for i in range(10,1,-2):
    print(i,end=',')

10,8,6,4,2,

In [16]:
#Spiral matrix of 5X5
n=5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y), end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

# Break , Continue and Pass Statements

In [17]:
for i in range(1,10):
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [19]:
for i in range(1,10):
    if i==5:
        continue
    print(i)
    
print("Loop ends")

1
2
3
4
6
7
8
9
Loop ends

# Keyword Arguments

In [20]:
def myFunc(score,lang):
    print("I scored %d in %s"%(score,lang))
    
myFunc(10,"Python")

I scored 10 in Python

In [21]:
def myFunc(score,lang,rollno):
    print("I scored %d in %s"%(score,lang))
    print(rollno)
    
myFunc(rollno=10,lang="Python",score=100)

I scored 100 in Python
10

# Strings and Builtin Methods

In [22]:
a = "Coding Blocks"
print(a)

Coding Blocks

In [23]:
print(a[2])

d

In [24]:
# String are not Mutable !
#This line will give error
# a[2] = 'e'

In [25]:
for i in range(len(a)):
    print(a[i])

C
o
d
i
n
g

B
l
o
c
k
s

In [26]:
for c in a:
    print(c)

C
o
d
i
n
g

B
l
o
c
k
s

# Working with Strings

In [27]:
a = "Mango"
b = "Juice"
print(a+b)

MangoJuice

In [28]:
print(a*5)

MangoMangoMangoMangoMango

In [29]:
para="""This is some
paragraph written
here"""

print(para)

This is some
paragraph written
here

In [30]:
l = para.split()
print(l)
print(type(l))
print(type(l[0]))

['This', 'is', 'some', 'paragraph', 'written', 'here']
<class 'list'>
<class 'str'>

In [31]:
para.splitlines()

['This is some', 'paragraph written', 'here']

In [32]:
fruit="Mango"
fruit=fruit.upper()
print(fruit)

MANGO

In [33]:
fruit="Mango"
fruit=fruit.lower()
print(fruit)

mango

In [34]:
shake = "    Apple Shake     "
print(len(shake))

20

In [35]:
shake = shake.lstrip()#Removes leading spaces
print(shake)
print(len(shake))

Apple Shake
16

In [36]:
shake=shake.rstrip() #Removes trailing spaces
print(shake)
print(len(shake))

Apple Shake
11

In [37]:
shake=shake.strip() #Removes both leading and trailing spaces

In [38]:
a="93"
a.isdigit()

True

In [39]:
a="93a"
a.isdigit()

False

In [40]:
a = "hi"
a.isalpha()

True

In [41]:
a = "123aef"
a.isalnum()

True

In [42]:
a = "123abcA"
b="    "
print(a.isalnum())
print(a.islower())
print(b.isspace())

True
False
True

- **Replace**
- **Count Function**
- **Join Function**
- **Title Function**
- **Capitalize**

In [43]:
a = "I love having apple juice and I like to eat green apple"
print(a.find("apple"))
print(a.rfind("apple"))
print(a.find("Apple"))
print(a.find("apple",30,len(a)))  # search 30 onwards and till the len(a)
print(a.index("apple"))

# Difference is find() returns -1, index throws an exception

14
50
-1
50
14

In [44]:
a = a.replace("apple","mango")
print(a)

I love having mango juice and I like to eat green mango

In [45]:
a.count("mango")

2

In [46]:
l = a.split()
print(l)

['I', 'love', 'having', 'mango', 'juice', 'and', 'I', 'like', 'to', 'eat', 'green', 'mango']

In [47]:
"_".join(l)

'I_love_having_mango_juice_and_I_like_to_eat_green_mango'

In [48]:
l = a.split("_")
print(l)

['I love having mango juice and I like to eat green mango']

In [49]:
b="-"
b = b.join(a)
print(a)

I love having mango juice and I like to eat green mango

In [50]:
name_org = "coding blocks"
print(name_org.capitalize())
print(name_org.title())

Coding blocks
Coding Blocks

# Lists

- List is like an array, heterogeneous array

In [51]:
myList = [1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [52]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [56]:
l3= list(l2)
print(l3)

l3 = l3 + l2
print(l3)

l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [58]:
#List of Square of numbers from 1 to 5
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

# List Slicing

In [60]:
print(l4[:4])
print(l4[-1])

[1, 4, 9, 16]
25

# Insertion and Deletion
- append
- insert
- remove
- pop
- del

In [67]:
l=[1,2]
l.append(3)
l.append([1,2])
print(l)

[1, 2, 3, [1, 2]]

In [68]:
l+= [4,5,6]
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

In [78]:
l.insert(2,20)
print(l)

['Apple', 'Mango', 20, 'Guava', 80]

In [69]:
print(l[3][1])

2

In [70]:
l.remove(2)
print(l)

[1, 3, [1, 2], 4, 5, 6]

In [71]:
del l[0]
print(l)

[3, [1, 2], 4, 5, 6]

In [72]:
l.pop()
print(l)

6

In [73]:
l = ([1,2,3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [74]:
l=["Apple","Mango","Guava",80]
80 in l

True

In [76]:
for i in range(len(l)):
    print(l[i])

Apple
Mango
Guava
80

In [77]:
for x in l:
    print(x)

Apple
Mango
Guava
80

# More functions on list

In [80]:
l=[4,3,2,16,18]
print(max(l))
print(min(l))

#Linear Search
print(l.index(16))

18
2
3

In [81]:
sorted(l)  #Does not change the original list

[2, 3, 4, 16, 18]

In [82]:
print(l)

[4, 3, 2, 16, 18]

In [83]:
l = sorted(l)
print(l)

[2, 3, 4, 16, 18]

In [84]:
l = [4,5,1,2,8,3]
l.sort()
print(l)

[1, 2, 3, 4, 5, 8]

In [85]:
l.sort(reverse=True)
print(l)

[8, 5, 4, 3, 2, 1]

In [86]:
#Read a list of numbers
numbers = [int(n) for n in input().split()]
print(numbers)
print(type(numbers))

2 5 3 7 22 6
[2, 5, 3, 7, 22, 6]
<class 'list'>

In [88]:
#Read a list of numbers and square each entry
numbers = [int(n)* int(n) for n in input().split()]
print(numbers)

2 4 6 8
[4, 16, 36, 64]

# Dictionary
- key value pairs
- unique key
- key values are not sorted in any order

In [2]:
d = {"mango":100, "Apple":80}
print(d)

print(d["mango"])

d["Guava"] = 60
print(d)

d["Grape"]=[10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":90,"Large":150}
print(d["Pineapple"]["Small"])

print(d["Pineapple"])

{'mango': 100, 'Apple': 80}
100
{'mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
90
{'Small': 90, 'Large': 150}

In [3]:
print(d.keys())

dict_keys(['mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [4]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

In [5]:
print(type(d.get("Mangoes")))

print(type(d.get("mango")))

<class 'NoneType'>
<class 'int'>

In [6]:
if "mango" in d:
    print("Price of mango is %d"%d["mango"])
else:
    print("Doesn't exist")

Price of mango is 100

In [7]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [9]:
d2 = {"Strawberry":95}

d.update(d2) #concatenates the two lists
print(d)

{'mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [10]:
print(len(d))

5

In [11]:
d.clear()
print(len(d))

0

In [12]:
#Combines two lists to make a dictionary

l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}

In [13]:
for k in p:
    print(k)

Apple
Papaya
Guava
Banana

In [14]:
for k in p.values():
    print(k)

100
120
30
50

# Tuples
- hold togethor multiple objects 
- immutable just like strings
- comma separated entries within()

# Why use Tuples
- tuples are faster than lists
- Safe "write-protected" code
- asserts data is CONSTANT
- return multiple values from a function

In [15]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [16]:
#updates are not possible
# t[0]=5
print(t[0])

1

In [18]:
# Convert a tuple into a list

l = list(t)
print(l)

l[0]=5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [19]:
# Convert list into a tuple
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [20]:
#Concatenation
print(t2 + t)

#Repition
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [21]:
t = (1,44,3,2,6)
print(max(t))
print(min(t))

44
1

In [22]:
del t

In [24]:
# print(t)

# Python Sets
- unique elements
- unordered

In [13]:
s = set([15,1,1,1,3,2,5,6,8,1,1,4])
print(s)
#Only unique elements printed

{1, 2, 3, 4, 5, 6, 8, 15}

In [14]:
#Another way of creating sets
s2 = {5,6,1,1,1,3}
print(s2)

{1, 3, 5, 6}

In [15]:
s2.add(50)
print(s2)

s.union(s2)
print(s)

{1, 3, 5, 6, 50}
{1, 2, 3, 4, 5, 6, 8, 15}

In [16]:
if 3 in s:
    print("Present")
else:
    print("Not present")

Present

In [17]:
# Exclusive OR operation
s ^ s2

{2, 4, 8, 15, 50}

In [6]:
# OR operation
s | s2

{1, 2, 3, 4, 5, 6, 8, 15, 50}

In [8]:
# AND operation
s & s2

{1, 3, 5, 6}

In [9]:
s.intersection(s2)

{1, 3, 5, 6}

In [10]:
s - s2

{2, 4, 8, 15}

In [11]:
s.difference(s2)

{2, 4, 8, 15}

In [12]:
s.clear()
print(len(s))

0